# an example of .env file... make a copy of this called .env in your repository and make sure the front-end port number is correct
FRONT_END_DOMAIN=http://localhost:4000
JWT_SECRET=knowledge.kitchen
JWT_EXP_DAYS=60
MONGODB_URI=mongodb://admin:secret@localhost:27017/data-storage-app
